<h1>How do we prepare data for use with an analytics platform?</h1>

In [5]:
import boto3
import base64
import datetime
import json
import os
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim

<h2>Goals</h2>
<p>In this case, we will introduce an uncleaned dataset - the type of dataset that you will most likely be working with in a job setting. We hope to provide you with a framework for tackling some common problems of unclean datasets (missing values, typos, etc.) as well as get you accustomed to integrating the Jupyter environment with other data environments (namely, AWS).</p>

<h2>Introduction</h2>

<p><strong>Business Context.</strong> You are a data science consultant for a bike share company. The company has hundreds of thousands of users and has been collecting data about trips taken on each of their bikes. Since the dataset collected is quite large and increasing by the day, they have subscribed to a new analytics platform which gives them information and insights when they feed trip data into it. However, the analytics platform requires the collected data to be cleaned and converted into a certain format, for which the client requires your help.</p>

<p><strong>Business Problem.</strong> Your task is to transform the raw data the client has into a format that can be fed into their analytics platform, as well as add additional features that the client wants to see in their platform, which are mentioned below.</p>

<p><strong>Analytical Context.</strong> The data provided by the client is spread across 2 files. The first file is a CSV file that contains all the trip data, with features such as trip time, start and end stations, bike number, and the user details like whether it is a registered or a casual user, etc. The second file is a JSON file containing details about the stations they own. In addition to cleaning their existing data, the client wants you to add the following features:</p>
<ol>
<li>Generate a unique ID for each trip</li>
<li>For each trip, calculate its duration, and based on this generate 4 more columns: <code>start_hour</code>, <code>end_hour</code>, <code>start_weekday</code>, <code>end_weekday</code></li>
<li>For each trip, create new columns for  age of the user, start and end coordinates, and municipal/city details of the start and end stations</li>
</ol>
<p>In this case, you will: (1) fetch the raw data from Amazon S3 and take a subset for local use (because the dataset is quite large); (2) use common sense to judge likely use cases of the data and clean it; (3) add new features to the data based on client request; and finally (4) upload the data wrangling scripts we have developed as a Jupyter Notebook to Amazon EC2 so we can apply it to the entire dataset.</p>

<h2>Fetch data from S3</h2>

<p>The data files are provided to you via an Amazon S3 bucket. To access the bucket, we've provided you with an Access Key and Secret Key with limited read-only permission on the single bucket of interest. </p>
<p>Our first step is to copy the file from S3 to your local machine. We will use the <a href="https://boto3.amazonaws.com/v1/documentation/api/latest/index.html">boto3</a> library to do that:</p>

In [6]:
# Check if output/ directory exists and if it does not, create it
if not os.path.exists('output'):
    os.makedirs('output')

# Setting up s3 client
AWS_ACCESS_KEY = 'AKIAVOW4GLZ274D6QRDP'
AWS_SECRET_ACCESS_KEY = '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'
S3_BUCKET_NAME = 'data-wrangling-case'

s3_client = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY
)

s3_bucket = s3_client.Bucket(S3_BUCKET_NAME)
local_folder = '.'

    
# Pull the contents from the data folder into the local path
for obj in s3_bucket.objects.all():
    local_file = os.path.join(local_folder, obj.key)
    s3_bucket.download_file(obj.key, local_file)

<h2>Exploring the data</h2>

<p>The data is now copied to the local folder. Let's read the data using the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html">read_csv()</a> method.</p>
<p>It is important to be more careful and diligent in the initial EDA stages when working with unclean data since good EDA is often essential for finding the tiny clues that inform you of the proper changes to make to unclean data. A common example would be a repetitive typo, such as 1% of the rows have "New York" spelled as "New Yok". We can use a combination of <code>groupby()</code> and <code>count()</code> in order to get a summary of the different values in a particular column, and notice that there are some common misspelled proper nouns.</p>
<p>Furthermore, it can also be a good habit to shuffle the data and sift through a few hundred/thousand rows manually to get a good "feel" for the data. While this may seem excessive, you make catch an insight that will dramatically accelerate your data science process and that is definitely worth the extra time and effort. Learn to love manually digging into the data if you want to be a data professional.</p>
<p>Note that we are passing a parameter <code>nrows=10000</code> so that we only read in the first 10000 rows in the file (as mentioned earlier, we are working with a subset of the data on our local machine as the entire dataset is quite large):</p>

In [7]:
local_folder = '.'
# Read the data file and take a look at the data
df = pd.read_csv(os.path.join(local_folder, 'trips.csv'), nrows=10000)

df.head()

,status,start_date,start_station,end_date,end_station,bike_nr,subsc_type,zip_code,birth_date,gender
0,Closed,7/28/2011 10:12:00,23.0,7/28/2011 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
1,Closed,7/28/2011 10:21:00,23.0,7/28/2011 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
2,Closed,7/28/2011 10:33:00,23.0,7/28/2011 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
3,Closed,7/28/2011 10:35:00,23.0,7/28/2011 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
4,Closed,7/28/2011 10:37:00,23.0,7/28/2011 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female

<p>As discussed before, the first step we ought to take with a new dataset is to familiarize ourselves with it. Let's read through the columns present in the dataset, find out how the data is spread out across columns, etc. This will also give us a sense of the obvious cleaning steps to be performed on each column present in the dataset.</p>

In [8]:
# Take a look at the columns present
df.columns

Index(['status', 'start_date', 'start_station', 'end_date', 'end_station',
       'bike_nr', 'subsc_type', 'zip_code', 'birth_date', 'gender'],
      dtype='object')

<p>The list of available features is as follow:</p>
<ol>
<li><strong>status:</strong> Status of the trip ("Ongoing", "Closed")</li>
<li><strong>start_date:</strong> Start time of the trip</li>
<li><strong>start_station:</strong> id of the station from which this trip started</li>
<li><strong>end_date:</strong> End time of the trip</li>
<li><strong>end_station:</strong> id of the station from which this trip ended</li>
<li><strong>bike_nr:</strong> The unique identifier of the bike used in this trip</li>
<li><strong>subsc_type:</strong> Subscription type of the user ("Registered", "Casual")</li>
<li><strong>zip_code:</strong> If it is a registered user, their zipcode</li>
<li><strong>birth_date</strong> If it is a registered user, their date of birth</li>
<li><strong>gender</strong> If it is a registered user, their gender ("Male", "Female")</li>
</ol>

<h2>Handling null values</h2>

<p>Let's start with the data cleaning process. As discussed in the intro Python cases, one of the first steps is to deal with null or missing values. However, previous cases only gave a passing treatment of these and resulted in dropping the rows containing null values entirely. Here, we will be more nuanced and look at ways that null or missing values can be replaced with more understandable and logical values. </p>
<p>In the real world, dealing with null values definitely has an artistic component, and you may have to test methods to see what works best. As always, domain knowledge is crucial in selecting what method to go forward with. For this program, we will introduce some of the simpler and more intuitive approaches, but recommend students to be as creative as they can when resolving null values while still adhering to logic.</p>
<p>Generally, null values in a specific column are dealt with in one of the following ways:</p>
<ol>
<li>Any row containing a null value for that column is removed</li>
<li>If that column's feature is a string, null values are replaced with a "Not found" string. If that column's feature is a number, null values are replaced either with 0 or the mean/median of the available values in the column</li>
<li>Null values are replaced with an interpolated value based on the data present in other rows</li>
</ol>
<p>Let's start by taking a look at the list of columns that have null values:</p>

In [9]:
df.isnull().any()

status           False
start_date       False
start_station    False
end_date         False
end_station       True
bike_nr           True
subsc_type       False
zip_code          True
birth_date        True
gender            True
dtype: bool

<p>We can see that there are 5 columns that have null values. We need to decide, based on the importance of each column, whether we will be applying a blunt instrument and remove the rows that have a particular column as null, or if we will be more nuanced and replace the null values in that column with a replacement value.</p>

<h3>Exercise 1:</h3>
<p><code>bike_nr</code> is one of the columns with missing values. Which of the above three methods do you think is most appropriate?</p>

**Answer.**

#### We can first see that method 3 is not sensible. This is because bike_nr is assigned before any trips are taken with that bike; hence, every other feature of the dataset is necessarily generated after the bike number is assigned. This means that there is no rhyme or reason for what bike_nr should be based on the other columns (because its creation preceded all the others), so there is no reason to expect a reasonable value to result from interpolation.
#### Given that at best we can only fill bike_nr with a meaningless filler value, it may be tempting to remove rows without bike_nr entirely. However, removing a row entirely tends to be the nuclear option and in the absence of a very clear and limited use case for the dataset going forward, it may result in us regretting our choice once we realize that some data we cut out might actually be useful. For example, if in some future analyses the client cares a fair amount about aggregate statistics relating to many or all the trips, then a specific bike_nr value is not important and we can still get useful analysis by replacing each bike_nr with a "Not Found", whereas we could well be missing that analysis if we cut out too much data. Thus, option 2 is the best answer.

-------

<p>Based on the above, let's now replace null values for <code>bike_nr</code> with "Not found":</p>

In [10]:
df['bike_nr'].fillna('Not Found', inplace=True)

<p>The next column we can concentrate on is <code>gender</code>. We know that <code>gender</code> can have only one of the 2 values: "Male" or "Female".</p>

<h3>Exercise 2:</h3>
<p>Suppose that one thing (but not the only thing) our client cares about is a rough idea of how the number of male and female riders has changed over time. Which of the above three methods would be most appropriate?</p>

**Answer.**

#### Again, removing rows entirely is the nuclear option, and there is no reason to do so without a very clear and limited objective for this dataset. Now, we may be tempted to fill in the missing values with "Not found". However, what if the missing data is disproportionately concentrated in later dates? Then later on, when the client tries to use their software to plot this trend, they will get a growth rate result that is far too low compared to real life. Thus, the best option is to fill in the missing data using some interpolation method to preserve the integrity of the growth rate data.

-------

<p>Now, how do we go about doing this? Well, we can use the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.interpolate.html">interpolate()</a> function in <code>pandas</code>. The <code>interpolate()</code> function uses linear interpolation, which is a mathematical method for filling in unknown points based on building a linear regression model on the non-missing points. We can then use this model to estimate the values of the missing points. This is very different from substituting null values with random or meaningless values, as it preserves aspects of the distribution of the data, which can be very important for certain analyses.</p>
<p>But gender is a string; how can we apply a mathematical model to a string? Well luckily, gender can only take on two values, so we can convert it to a <code>category</code> type and then run the interpolation:</p>

In [11]:
# Convert gender to a category type
df['gender'] = df['gender'].astype('category')

<p>After converting <code>gender</code> to be a category column, let's see what the data looks like:</p>

In [12]:
df['gender'].cat.categories

Index(['Female', 'Male'], dtype='object')

In [13]:
# Let's see the codes assigned to the values present in the DataFrame.
df['gender'].cat.codes

0       1
1       1
2       1
3       0
4       0
       ..
9995   -1
9996   -1
9997   -1
9998   -1
9999   -1
Length: 10000, dtype: int8

<p>You can see there are 3 codes here: -1, 0, 1. But in the categories list, there are only 2 values: "Male" and "Female". This is because -1 represents the NaN values. In order to interpolate the values, we need to convert the -1 into actual NaN, as interpolation works only on NaN values:</p>

In [14]:
# The below code replaces the value -1 with NaN.
gender = df['gender'].cat.codes.replace(-1, np.nan)
gender

0       1.0
1       1.0
2       1.0
3       0.0
4       0.0
       ...
9995    NaN
9996    NaN
9997    NaN
9998    NaN
9999    NaN
Length: 10000, dtype: float64

In [15]:
# We now call the interpolate function that actually fills the NaN values with either a 0 or 1
gender = gender.interpolate()

In [16]:
gender = gender.astype(int).astype('category')
gender = gender.cat.rename_categories(df['gender'].cat.categories)
df['gender'] = gender
df['gender']

0         Male
1         Male
2         Male
3       Female
4       Female
         ...
9995      Male
9996      Male
9997      Male
9998      Male
9999      Male
Name: gender, Length: 10000, dtype: category
Categories (2, object): [Female, Male]

<p>In the above snippet, we are converting the interpolated values into category type and then replacing the category names with the names from the existing DataFrame column. So now the gender column will contain "Male" and "Female" as its values (rather than 0 and 1).</p>

<h3>Exercise 3:</h3>
<p>Come up with a proper replacement scheme for null values in <code>zip_code</code>, <code>birth_date</code>, and <code>end_station</code>.</p>

**Answer.**

#### Let's start with zip_code. Again, removing rows is a nuclear option and we should avoid it unless we have a very clear and limited objective for the dataset. So we can either replace zip code with a meaningless filler value, or attempt to interpolate it. However, we have no other features in this dataset that can sufficiently narrow down the bike rider's/user's zip code in any significant way. Therefore, any interpolation attempt would involve a lot of hand-wavey guessing. Thus, we will go ahead and replace null zip_code values with a meaningness filler value. Since zip codes are effectively strings (they are numbers, but they have no natural ordering; i.e. the fact that one zip code number is larger than another is meaningless), we will replace null values with "Not found".
#### The same line of reasoning leads us to fill in "Not found" for missing values in the end_station column.
#### For birth_date, a similar line of reasoning as above tells us we should fill it with a meaningless filler value as well. Now, because birth_date contains only the year of birth, it can be considered to be a numeric field. So we default the null birth_date values to 0:

In [17]:
df['zip_code'].fillna('Not found', inplace=True)
df['zip_code']
df['end_station'].fillna('Not found', inplace=True)
df['end_station']
df['birth_date'].fillna(0, inplace=True)
df['birth_date']

0       1976.0
1       1966.0
2       1943.0
3       1981.0
4       1983.0
         ...
9995       0.0
9996       0.0
9997       0.0
9998       0.0
9999       0.0
Name: birth_date, Length: 10000, dtype: float64

-------

<p>Did you notice the <code>inplace=True</code> parameter passed to the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html">fillna()</a> function? By passing this parameter we are asking <code>pandas</code> to make the changes in memory, instead of creating a new object that contains the result of this operation. The above statement is technically the equivalent of:</p>
<p><code>df['gender'] = df['gender'].fillna('No Gender')</code></p>

<h2>Correcting erroneous string values</h2>

<p>After cleaning the null values in the dataset, the next process we usually do is to check for and deal with erroneous values in the dataset. For string columns, this can manifest in a few ways:</p>
<ol>
<li>Unnecessary spaces at the start or end of the string</li>
<li>Mixed case (e.g. "value 1" and "Value 1")</li>
<li>Spelling mistakes</li>
</ol>
<p>However, this can be quite difficult to clean for in practice. In particular, number 3 (spelling mistakes) are nearly impossible to find if that string column is meant to be free-form; any legitimate English word would be a legal entry, and you would have to cross-check each entry against the entire English dictionary! Situations like this are why sometimes a manual sifting of thousands of rows can be beneficial. It is a lot easier for the naked eye to catch and error and then write code for systematically cleaning up that type of error from the entire dataset, than to guess at what type of error even exists and writing code for that unsubstantiated guess.</p>
<p>Luckily, certain types of string columns are far easier to deal with. For example, <code>subscription_type</code>, <code>gender</code> and <code>status</code> are categorical; i.e. their values are supposed to come from a defined set of options. This means that we can do some basic data summarizing to see whether they contain any values they are not supposed to:</p>

In [18]:
print("Subscription Type: ", df['subsc_type'].unique())
print("Gender:", df['gender'].unique())
print("Status:", df['status'].unique())

Subscription Type:  ['Registered' 'Casual' 'registered' ' Casual' 'Casual ' 'casual'
 ' Registered']
Gender: [Male, Female]
Categories (2, object): [Male, Female]
Status: ['Closed']

<p>The data shows that <code>gender</code> and <code>status</code> only have 2 values, as expected.</p>
<p>However, in the <code>subscription_type</code> column, you will see that there are 3 <code>Regular</code>s and 3 <code>Casual</code>s. This is because of leading and trailing spaces. You can also see that this column has <code>regular</code> and <code>casual</code> as values. Though <code>Regular</code> and <code>regular</code> are same, they are identified as 2 different values because of their mixed case.</p>
<p>Let's go ahead and fix both of these issues:</p>

In [19]:
# Let's fix the space issue. We will use the strip function to remove the leading and trailing spaces 
# for each row in the subsc_type column
df['subsc_type'] = df['subsc_type'].str.strip()

df['subsc_type'].unique()

array(['Registered', 'Casual', 'registered', 'casual'], dtype=object)

In [20]:
df['subsc_type'] = df['subsc_type'].str.upper()

df['subsc_type'].unique()

# We have cleansed both the gender and subscription type columns to contain proper values.

array(['REGISTERED', 'CASUAL'], dtype=object)

<p>In practice, data scientists will apply the <a href="https://www.w3schools.com/python/ref_string_strip.asp">strip()</a> and <a href="https://www.w3schools.com/python/ref_string_upper.asp">upper()</a> (or <a href="https://www.w3schools.com/python/ref_string_lower.asp">lower()</a>, either is fine) functions even to free-form, non-categorical string columns to avoid any unintentional duplicates (though as mentioned earlier, spelling mistakes need to be dealt with separately). An example of this is if you had a column specifying the city someone was from – you would not want "New York City, New York" to be treated differently from "new york city, New York".</p>
<p>There are many ways that values within a column can be erroneous, and we have only covered a few of them here. In future cases, you will learn about other ways erroneous values can creep into your dataset (say, in numeric or <code>datetime</code> columns) and how to deal with them. For now, let's move on.</p>

<h2>Generating a unique ID for each trip</h2>

<p>Let's get going on the specifics that the client wants. The first request relates to unique identifiers. When generating unique identifiers for datasets like this, we should make sure the generation process is idempotent (i.e. the same ID should be generated for each trip no matter how many times you run the script). The idempotency is required because there may be chances that the same trip is input into this tool multiple times. For example, the customer first uploads the data set for the first week of the month (may be for testing purposes, or based on data availability, etc.) and then uploads the data for the entire month. Now if the same trip is assigned different IDs on each run, then it might result in the analytics platform interpreting this as two different trips and this will skew the analysis.</p>
<p>ID generation is a subset of <strong>feature engineering</strong> which we will cover in greater detail in future cases. Here, we just want to introduce you to the idea of combining/manipulating various parameters to create new ones that may greatly help you solve your data science problem.</p>

<h3>Exercise 4:</h3>
<p>Describe how you would generate a unique ID per trip while guaranteeing idempotence, then write code to do this.</p>

**Answer.**

#### Before it gets assigned an ID, a trip can only be uniquely identified via a suitable combination of its features. We reason that start date, end date, and bike_nr will always be unique, because any given bike can only be taking one trip at a time. Therefore, we will define a one-to-one function of these three quantities to generate the unique ID. (A one-to-one function is one such that for any given output, there can only be one possible input that generates that output.)
#### Now let's go ahead and write code for this:

In [21]:
# Let's generate an id for each trip, in order to uniquely identify each trip. 
# The trip id can be a combination of start_date, end_date, start_station, end_station and bike number

df['id'] = df.apply(lambda x: ':'.join([str(x['start_date']), str(x['end_date']), str(x['bike_nr'])]), axis=1)

# In order for the id to look actually like a unique identifier, let's use base64 encode to convert the id to a base64 string
# The command converts the newly created id column into bytes, and then gets the base64 encoded value for the same. 
# Then the base64 value is converted to string again and then stored in the id column.

df['id'] = df['id'].apply(lambda x: base64.b64encode(x.encode()).decode())
df['id'].unique()

array(['Ny8yOC8yMDExIDEwOjEyOjAwOjcvMjgvMjAxMSAxMDoxMjowMDpCMDA0Njg=',
       'Ny8yOC8yMDExIDEwOjIxOjAwOjcvMjgvMjAxMSAxMDoyNTowMDpCMDA1NTQ=',
       'Ny8yOC8yMDExIDEwOjMzOjAwOjcvMjgvMjAxMSAxMDozNDowMDpCMDA0NTY=',
       ..., 'OC83LzIwMTEgMjA6NDI6MDA6OC83LzIwMTEgMjA6NTk6MDA6QjAwMTUx',
       'OC83LzIwMTEgMjA6NDI6MDA6OC83LzIwMTEgMjA6NTg6MDA6QjAwMDk0',
       'OC83LzIwMTEgMjA6NDQ6MDA6OC83LzIwMTEgMjE6MTc6MDA6QjAwMTcw'],
      dtype=object)

-------

<h2>Trip timing details</h2>

<p>The second requirement of your client is to create a few additional features. These are also a subset of feature engineering. The first of these is trip duration. Now, trip duration is defined as <code>end time - start time</code>, so naturally we would consider using those columns. But if you take a look at the start and end date columns, you can see that they are not listed as <code>datetime</code> columns; rather, they are just shown as strings. In order to calculate the trip duration, we will have to convert the strings into <a href="https://www.w3schools.com/python/python_datetime.asp">datetime</a> objects. We will be using the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html">pd.to_datetime()</a> function to convert all values of a column into date objects:</p>

In [22]:
# Then with the remaining values, convert them to datetime objects
df['start_date'] = pd.to_datetime(df['start_date'], format='%m/%d/%Y %H:%M:%S')
df['end_date'] = pd.to_datetime(df['end_date'], format='%m/%d/%Y %H:%M:%S')

# You can now see that the start date and end date are converted to datetime objects.
df[['start_date', 'end_date']]

              start_date            end_date
0    2011-07-28 10:12:00 2011-07-28 10:12:00
1    2011-07-28 10:21:00 2011-07-28 10:25:00
2    2011-07-28 10:33:00 2011-07-28 10:34:00
3    2011-07-28 10:35:00 2011-07-28 10:36:00
4    2011-07-28 10:37:00 2011-07-28 10:37:00
...                  ...                 ...
9995 2011-08-07 20:38:00 2011-08-07 21:04:00
9996 2011-08-07 20:38:00 2011-08-07 21:04:00
9997 2011-08-07 20:42:00 2011-08-07 20:59:00
9998 2011-08-07 20:42:00 2011-08-07 20:58:00
9999 2011-08-07 20:44:00 2011-08-07 21:17:00

[10000 rows x 2 columns]

<p>With start date and end date being datetime objects now, it is easy to calculate the trip duration for each trip.</p>

In [23]:
df['trip_duration'] = (df['end_date'] - df['start_date'])

df['trip_duration'] = df['trip_duration'].apply(lambda x: x.seconds)

In [24]:
# trip_duration column will contain the duration of the trip in seconds
df['trip_duration']

0          0
1        240
2         60
3         60
4          0
        ...
9995    1560
9996    1560
9997    1020
9998     960
9999    1980
Name: trip_duration, Length: 10000, dtype: int64

<h3>Exercise 5:</h3>
<p>Generate the 4 other time-related columns the client wants: <code>start_weekday</code>, <code>start_hour</code>, <code>end_weekday</code>, <code>end_hour</code>.</p>

**Answer.**

In [25]:
df['start_hour'] = df['start_date'].dt.hour
df['end_hour'] = df['end_date'].dt.hour
df['start_weekday'] = df['start_date'].dt.weekday
df['end_weekday'] = df['end_date'].dt.weekday

-------

<h3>Exercise 6:</h3>
<p>Replicate the process we used to calculate trip duration in order to calculate the age of the registered users.</p>

**Answer.**

In [26]:
dob_users = df[df['birth_date'].notnull()]
current_year = datetime.datetime.now().year
df.loc[df['birth_date'].notnull(), 'age'] = current_year - dob_users['birth_date'] 
df['age']

0         44.0
1         54.0
2         77.0
3         39.0
4         37.0
         ...
9995    2020.0
9996    2020.0
9997    2020.0
9998    2020.0
9999    2020.0
Name: age, Length: 10000, dtype: float64

-------

<h2>Adding stations data</h2>

<p>The last thing we need to do is add municipal details as well as coordinates of the start and end stations. To get the latitude and longitude of each station, we will be using the address of the stations present in the <a href="https://www.w3schools.com/js/js_json_intro.asp">JSON</a> file provided along with the CSV data.</p>
<p>Notice that we are combining information from different files (and also different file types) to progress in our investigation of this dataset. This is extremely common and in the professional world you may have to utilize different files from very different sources with varying degrees of reliability/accuracy to solve problems. You may have to clean these accessory datasets beforehand just to make them usable. In fact, most data professionals spend much more time on cleaning data than on modeling.</p>
<p>The JSON file contains the station ID, station name, and municipal. We will generate the address by concatenating the station and municipal fields and then use the <code>Nominatim</code>, which is a geocoding library provided and maintained by OpenStreetMap:</p>

In [27]:
# With the trip data in place, next we can pull the JSON data of the stations.
stations_data = []
with open(os.path.join(local_folder, 'stations.json')) as f:
    stations_data = json.load(f)

In [28]:
# For each of the stations, let's get the latitude and longitude for each of the stations, based on the address
geolocator = Nominatim(user_agent="Address Predictor", timeout=10)
for station in stations_data:
    address = station['station'] + ',' +  station['municipal']
    print(address)
    lat_long = geolocator.geocode(address)
    if lat_long:
        print(lat_long.latitude)
        location = ','.join([str(lat_long.latitude), str(lat_long.longitude)])
    else:
        location = 'None,None'
    station['coordinates'] = location

Colleges of the Fenway,Boston
42.33687295
 Berkeley St.,Boston
42.3495298
Northeastern U ,Boston
42.3400544
 Joy St.,Boston
42.3604297
Fan Pier,Boston
42.35479265
Union Square ,Boston
42.3537768
Agganis Arena ,Boston
42.3522233
B.U. Central ,Boston
-34.7649594
Longwood Ave ,Boston
42.3386473
ion ,Boston
46.7402641
Boston Medical Center ,Boston
42.33417195
HMS ,Boston
42.337171
e ,Boston
42.3602534
Back Bay ,Boston
42.3507067
Harvard University Housing ,Boston
42.3644647
e ,Boston
42.3602534
Buswell Park,Boston
42.34662155
ion ,Boston
46.7402641
Prudential Center ,Boston
42.347090550000004
ion ,Boston
46.7402641
Mayor Thomas M. Menino ,Boston
42.3780804
Seaport Square ,Boston
42.3502036
Tremont St ,Boston
42.3350651
 Waltham St.,Boston
42.342256
ion,Boston
46.7402641
ion Lab ,Boston
46.7402641
Brigham Cir ,Boston
42.3346084
Seaport Hotel,Boston
42.3502036
Landmark Centre,Boston
42.34474495
Kenmore Sq ,Boston
42.3489517
 Brookline Ave,Boston
42.3364702
Summer St. ,Boston
42.3527417
Boston Public Library ,Boston
42.3493298
New Balance ,Boston
42.3504825
TD Garden ,Boston
42.3662986
 Rutland St.,Boston
42.3387759
Lewis Wharf ,Boston
42.3636368
Packard's Corner ,Boston
42.3517437
 Arlington St.,Boston
42.3542749
Rowes Wharf ,Boston
42.35644675
Faneuil Hall ,Boston
42.3600335
 Boylston St.,Boston
42.3501451
Christian Science Plaza,Boston
42.3443592
 Hanover St.,Boston
42.367631
Post Office Square,Boston
42.3564297
 Charles St.,Boston
42.3610438
Boylston St ,Boston
42.3501451
 Lenox St.,Boston
42.3378396
Newbury St ,Boston
42.3520829
Beacon St ,Boston
42.3543149
Tremont St ,Boston
42.3350651
Boylston ,Boston
42.3529861
Dudley Square,Boston
42.3290977
 Mass. Ave.,Boston
42.3602534
The Esplanade ,Boston
42.35618665
own G,Boston
41.2315977
Charles Circle ,Boston
42.3582464
 Fairfield,Boston
41.2781512
Longwood Ave,Boston
42.3386473
 Gillette Park,Boston
42.34412
Congress ,Boston
42.360400999999996
Boston Convention & Exhibition Center,Boston
42.345590200000004
Allston Green District ,Boston
42.3403381
 Mass Ave ,Cambridge
42.3750997
 Mass Ave ,Cambridge
42.3750997
Coolidge Corner ,Brookline
42.3421622
 Bennett St ,Cambridge
42.3724748
Conway Park ,Somerville
42.383092000000005
One Broadway ,Cambridge
42.3628031
 Br,Cambridge
52.2034823
 Mass Ave,Cambridge
42.3750997
 Mass Ave ,Cambridge
42.3750997
Central Sq Post Office ,Cambridge
42.3653334
Somerville City Hall,Somerville
42.387194300000004
Union Square ,Somerville
42.3797735
 Washington ,Somerville
38.5217907
a Center ,Cambridge
52.2034823
Boylston St ,Boston
42.3501451
Brookline Town Hall ,Brookline
42.33402015
South Bay Plaza,Boston
CambridgeSide Galleria ,Cambridge
42.3681723
ion ,Boston
46.7402641
Brookline Village ,Brookline
42.332592
Harvard University Housing ,Cambridge
42.366621
 Vellucci Plaza ,Cambridge
42.37221495
 Mass Ave ,Cambridge
42.3750997
ion ,Cambridge
43.4076608
 Hampshire St ,Cambridge
42.3735313
University of Massachusetts Boston,Boston
42.3140821
JFK ,Boston
42.3205425
Charlestown ,Boston
42.3778749
Cambridge St ,Cambridge
42.3754619
 Broadway ,Cambridge
42.374159
 DeWolfe St ,Cambridge
42.3700082
Charlestown ,Boston
42.3778749
Mayor Thomas M. Menino ,Boston
42.3780804
Dudley Square,Boston
42.3290977
BIDMC ,Boston
42.345733
Boston Medical Center ,Boston
42.33417195
 Fairfield,Boston
41.2781512
ion ,Boston
46.7402641
Mt Pleasant Ave ,Boston
42.3258913
 Dorchester St,Boston
42.3326116
South Boston Library ,Boston
42.3334312
 Columbia Rd,Boston
42.3166179
Upham's Corner ,Boston
42.3167648
New Balance ,Boston
42.3504825
TD Garden ,Boston
42.3662986
Franklin St. ,Boston
42.356657
Charles Circle ,Boston
42.3582464
TD Garden ,Boston
42.3662986
ion Hospital ,Boston
46.7402641
 Beacon St,Boston
42.3543149
 India St,Boston
42.3578825
 Vine St.,Boston
40.3192942
New Balance Store ,Boston
42.3504825
JP Monument ,Boston
JP Centre ,Boston
35.7039099
 Barbara St,Boston
42.3210245
 Columbus Ave,Boston
42.3466596
Green St T,Boston
42.3103718
 Centre St,Boston
40.3243948
 Washington St. ,Brookline
42.3322567
 Harvard St. ,Brookline
42.3390196
 Main St,Cambridge
45.024288
Harvard University River Houses ,Cambridge
 Quincy St ,Cambridge
42.375202
 Magazine St,Cambridge
42.3649627
Harvard University ,Cambridge
42.36790855
 Shepard St ,Cambridge
42.3818034
Mass Ave ,Cambridge
42.3750997
359 Broadway ,Cambridge
42.3709378
Biogen Idec ,Cambridge
42.36501785
ion,Cambridge
43.4076608
Wilson Square,Somerville
42.38537435
Davis Square,Somerville
42.3963615
Ball Square,Somerville
42.3999113
Powder House Circle,Somerville
Packard Ave ,Somerville
42.4069687
 Highland Ave ,Somerville
42.396489
 239 Holland St,Somerville
42.4027899
 Cutter St,Somerville
42.3875823

<h3>Exercise 7:</h3>
<p><code>stations_data</code> now contains the coordinates for each station. Use this to add the start and end coordinates to each trip in the trips data. Add the municipal data for each trip as well.</p>

**Answer.**

In [29]:
# Let's create a dictionary with the id of the station as key, to be able to get the station details for each row
stations_dict = {}
for station in stations_data:
    stations_dict[station['id']] = station
stations_dict
# We can now get the starting coordinates and ending coordinates for each trip into this DataFrame.
df['start_coordinates'] = df['start_station'].map(lambda x: stations_dict[x]['coordinates'] if x != 'Not found' else None)
df['end_coordinates'] = df['end_station'].map(lambda x: stations_dict[x]['coordinates'] if x != 'Not found' else None)
df[['start_coordinates', 'end_coordinates']]
df['start_municipal'] = df['start_station'].map(lambda x: stations_dict[x]['municipal'] if x != 'Not found' else None)
df['end_municipal'] = df['end_station'].map(lambda x: stations_dict[x]['municipal'] if x != 'Not found' else None)
df['end_municipal'].describe()

count       9998
unique         1
top       Boston
freq        9998
Name: end_municipal, dtype: object

-------

<h2>Split the coordinates into separate latitude and longitude columns</h2>

<p>We have calculated <code>start_coordinates</code> and <code>end_coordinates</code> for each trip, but they are currently residing in the same column separated by a comma. The client has asked for them to be in separate columns. This can also be viewed as a subset of feature engineering as we are creating new parameters from a single parameter. This is less common than the feature generation example we showed earlier, but it is still relevant.</p>

In [30]:
# Notice the expand=True parameter. That is required since we are assigning the output of the split function to 2 columns
df[['start_latitude', 'start_longitude']] = df['start_coordinates'].str.split(',', expand=True)
df[['end_latitude', 'end_longitude']] = df['end_coordinates'].str.split(',', expand=True)
df[['start_latitude', 'start_longitude', 'end_latitude', 'end_longitude']]

     start_latitude     start_longitude end_latitude       end_longitude
0        42.3780804  -71.04848834660194   42.3780804  -71.04848834660194
1        42.3780804  -71.04848834660194   42.3780804  -71.04848834660194
2        42.3780804  -71.04848834660194   42.3780804  -71.04848834660194
3        42.3780804  -71.04848834660194   42.3780804  -71.04848834660194
4        42.3780804  -71.04848834660194   42.3780804  -71.04848834660194
...             ...                 ...          ...                 ...
9995     42.3564297  -71.05571941398325   42.3636368         -71.0508928
9996     42.3564297  -71.05571941398325   42.3636368         -71.0508928
9997     42.3507067         -71.0797297  -34.7649594         -58.3686694
9998     42.3507067         -71.0797297  -34.7649594         -58.3686694
9999     42.3386473         -71.1068178   42.3443592  -71.08349133979885

[10000 rows x 4 columns]

<h2>Set up Jupyter notebook in an EC2 instance</h2>

<p>The next step is to copy the notebook file from the local machine to the EC2 instance. It can be done via an scp command, or using winSCP. There are different ways to SCP (secure copy) the file into the server:</p>
<ol>
<li>If you are using a Linux or a Mac, type the following command to copy the file:</li>
</ol>
<p><code>scp -i &lt;path_to_pem_file&gt; &lt;/path/to/jupyter/notebook&gt; &lt;username&gt;@&lt;EC2IP&gt;:&lt;/destination/path&gt;</code></p>
<ol>
<li>If you are using Windows, you can either use WinSCP - https://winscp.net/eng/index.php or if you are using Putty, you can use the pscp command:</li>
</ol>
<p><code>pscp -i &lt;path_to_ppk_file&gt; &lt;\path\to\jupyter\notebook\&gt; &lt;username&gt;@&lt;EC2IP&gt;:&lt;/destination/path&gt;</code></p>

<h2>Execute on the entire dataset in the server</h2>
<p>Once the file is copied, you can now access the Jupyter Notebook from <code>http:server_ip:8889</code>. Once you are able to access the file, just remove the <code>nrows=10000</code> parameter from the <code>read_csv</code> function call, in order to read the entire dataset. You can now click on <code>Cells &gt; Run All</code> in order to run the same set of steps on the entire dataset.</p>

<h2>Conclusions</h2>
<p>In this case, we cleaned up some messy client data and also added some new features based on their requests. We first took a small sample of the overall data so we could work with it locally. However, cleaning up the data was not merely some rote mechanical work. We had to use our common sense and judgment of likely use cases of this data in order to determine how to fix it. Additionally, we had to consider the potential impact of our changes and whether it would adversely impact potential uses of the data in the future, even if those were not likely uses at this time.</p>
<p>After cleaning the data, we uploaded our cleaning scripts to Amazon EC2 so that they could be applied to the entire dataset.</p>
<p>Data wrangling &amp; cleaning is arguably the most important step of the entire data science process, without which we could have wrong or corrupt results. In practice, data scientists can spend upwards of 60 - 70% of their time on cleaning and organizing the data.</p>

<h2>Takeaways</h2>
<p>When cleaning data, one very common problem is missing data. We learned a few ways of dealing with missing data and when these methods tend to be appropriate:</p>
<ol>
<li>Removing the rows with missing data entirely is a nuclear option that only makes sense when you have a clear and very limited use case for the dataset.</li>
<li>Replacing the missing values with a meaningless filler like "Not found" or 0 makes sense if you need to preserve the other data in those rows but either cannot sensibly fill in or don't particularly care about the missing values in that specific column.</li>
<li>Interpolating the missing values makes sense when you need to preserve elements of the underlying distribution of the data in that column.</li>
</ol>
<p>We also saw that for large datasets, working with a small subset of the data is a useful tool for gaining intuition about the dataset and rapidly iterating on the cleaning process. This intuition gathering element cannot be emphasized enough; in fact, many steps in our cleaning process involved elements of exploratory data analysis, via generating summary statistics. Running cleaning steps on the entirety of a very large dataset is time consuming and can bog down the EDA that is essential to cleaning. In future cases, you will see further evidence of EDA in action during wrangling &amp; cleaning.</p>